// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    color: $white;
    text-decoration: none!important;
}

.generation_link {
    border-radius: 5px;

    height: 32%;
    padding: 4.3em;
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    background: rgb(0,127,82);
    background: linear-gradient(90deg, rgba(0,127,82,1) 0%, rgba(0,156,83,1) 50%, rgba(0,173,84,1) 100%);
    box-shadow: -10px 5px 8px -6px rgba(0,0,0,0.2);

}

.text-generation {
    font-size: 56px;
    text-decoration: none;
    color: $white;
}

.main-title {
    color: $main-text-color;
    font-size: 42px;
    text-transform: uppercase ;
    font-weight: 900;
}

.main-title:after {
    content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
    background: linear-gradient(90deg, rgba(0,127,82,1) 0%, rgba(0,156,83,1) 49%, rgba(0,235,150,1) 100%);
    margin-bottom: 35px;
}


