body {
  background-color: #fff;

}
.link-in-header {
    font-size: 28px;
}
.link-in-header:hover {
    text-decoration: underline;
}

a {
    color: #fff;
    text-decoration: none !important;
  }

  .generation_link {
    border-radius: 5px;
    color: #fff;
    /* margin-right: 15px; */
    height: 30%;

    text-decoration: none;
    background: #007f52;
    background: linear-gradient(90deg, #007f52 0%, #009c53 50%, #00ad54 100%);
    box-shadow: -10px 5px 8px -6px rgba(0, 0, 0, 0.2);
  }

  .text-generation {
    font-size: 36px;
    text-decoration: none;
    color: #fff;
  }

  .main-title {
    color: #01ac55;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
  }

  .main-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #007f52 0%, #009c53 49%, #00eb96 100%);
    margin-bottom: 35px;
  }

  .description {
      font-size: 18px;
  }

  .footer {
      height: 480px;
  }

  .contacts-title {
    font-size: 48px;
    font-weight: bold;
    border-right: 2px solid #fff;
    margin: 20px;
    height: 80px;
    padding-right: 25px;
  }

  .contacts-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0px;
    height: 80px;
    padding-top: 25px;
  }

  .white-line:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 90px;
  }

  .myCarousel {
    position: relative;
    width: 100%;
    padding: 10px 40px;
    /* border: 1px solid #CCC; */
    background: #fff;
}

.search {
    height: 400px;
    margin-top: 60px;
}

.search-input {
    width: 100%;
    height: 45px;
    font-size: 24px;
    background: #f6f6f6;
    border: 1px solid #e7e7e7;
    padding: 15px;
}

.my-btn {
    height: 45px;
    width: 260px;
    border: none;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background:  linear-gradient(90deg, #007f52 0%, #009c53 49%, #01d185 100%);
}

/* My Carusel */
.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery ul {
    height: 330px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}

.items-myslider {
    position: relative;
    display: flex;
}

.gallery li div {
    display: block;
    padding: 10px;
}

.group-inputs {
    display: flex;
}


.my-input-wrap {
    border-bottom: 1px solid #fff;
    padding: 0!important;
}
.my-input {
    width: 219px;
    color: #fff;
    font-size: 26px;
    border: none;
    background: none;
    outline: none;
}
.my-input-wrap-long {
    width: 101%!important;
}
.my-input-long {
    color: #fff;
    font-size: 26px;
    border: none;
    background: none;
    outline: none;
}

.my-dark-btn {
    border: 1px solid #fff;
    background: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 25px;
}

.small-info {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 1.1em;
}

